@color_white: #ffffff;
@tio_wanna_white: #f1f1f1;
@color_content: #f6f7f8;
@color_header: #212121;
@color_green: #4cc148;
@color_grey: #424242;
@color_border_grey: #cccccc;
@color_light_grey: #5A616D;
@color_red: #fa3e3e;