.component-send {
    padding: 15px;
    width: 50%;
    min-width: 750px;
    margin: 0 auto;
    
    .show-advanced-settings {
        padding-left: 17%;
        padding-bottom: 4px;
        a {
            color: @color_green;
            font-size: .8em;
            font-family: 'Arial';
            &:before {
                content: '\2303';
                display: inline-block;
                margin-right: 4px;
                transform: rotate(180deg) translateY(2px);
            }
        }

        &.opened {
            a {
                &:before {
                    transform: translateY(2px);
                }
            }
        }
    }
    .advanced-settings {
        display: none;
        &.opened {
            display: block;
        }
    }

    article {
        position: relative;
        border-radius: 2px;
        border: 1px solid @color_red;
        padding: 15px;

        h3 {
            color: @color_red;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            color: @color_grey;
            font-size: 21px;
            font-weight: bold;
            line-height: 1;
            text-shadow: 0 1px 0 @color_white;
            background: transparent;
        }

        span {
            //color: @color_red;
        }

        a {
            color: @color_red;
            margin-left: 6px;
            &:after {
                content: '\276F';
                display: inline-block;
                position: relative;
                padding-left: 3px;
            }
        }
    }

    fieldset {
        display: block;
        border: 0px;
        position: relative;
        background: @color_white;
        padding: 15px;
        margin: 0;
        margin-top: 15px;
        min-height: 96px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

        p {
            padding-bottom: 15px;
            &:first-child {
                padding-bottom: 4px;
            }
        }

        label {
            position: relative;
            display: inline-block;
            width: 17%;
            
            text-align: right;
            padding-top: 7px;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: bold;
            color: #99979c;
            
            
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }

        #address {
            width: 550px;
        }

        span {
            margin-left: 15px;
            font-size: 12px;
            color: @color_hint_grey;

            &.address-input {
                position: relative;
                margin: 0;
                &:after {
                    .glyphicon-trezor;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    color: @color_green;
                    top: 0;
                    right: 4px;
                }
                // set trezor address button
                button {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    margin-top: 12px;

                    span {
                        color: @color_white;
                        margin: 0;
                        &:before {
                            .glyphicon-trezor;
                            vertical-align: -2px;
                            padding-right: 8px;
                        }
                    }
                }
            }

            &.address-hint {
                display: block;
                margin-left: 17%;
                margin-top: 8px;
            }
            
            &.amount-hint {
                position: relative;
                display: none;
                &:before {
                    .glyphicon-info;
                    vertical-align: -2px;
                    margin-right: 8px;
                    font-size: 14px;
                }
                &.warning {
                    display: inline;
                }
                div {
                    display: inline-block;
                    margin-left: 10px;
                }
                .amount-tooltip {
                    position: absolute;
                    display: none;
                    z-index: 1;
                    left: 100%;
                    top: -10px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    font-size: 1em;
                    color: @color_white;
                    border-radius: 6px;
                    padding: 10px;
                }
                &:hover {
                    .amount-tooltip {
                        display: block;
                    }
                }
            }

            
        }

        // Claim button
        button {
            margin-left: 17%;
        }

        // Address is not a TREZOR wallet, but still correct format
        &.foreign-address {
            .address-input {
                &:after {
                    .glyphicon-checkmark;
                    padding-right: 18px;
                }
            }
            .address-hint {
                color: orange;
            }
        }
        
        // Addres is not valid
        &.not-valid {
            .address-input {
                input {
                    border-color: @color_red;
                }
                &:after {
                    .glyphicon-cross;
                    color: @color_red;
                    font-size: 11px;
                    padding-top: 2px;
                }
            }

            .address-hint {
                color: @color_red;
            }
        }

        // common
        &.foreign-address, 
        &.not-valid {
            .address-input {
                button {
                    display: block;
                }
            }
            .address-hint {
                margin-top: 10px;
                margin-bottom: 4px;
                &:before {
                    .glyphicon-warning;
                    vertical-align: -1px;
                    margin-right: 8px;
                    font-size: 14px;
                }
            }
        }
    }
}