// MessageComponent
article {
    position: relative;
    border-radius: 2px;
    border: 1px solid @color_green;
    padding: 15px;
    background: @color_white;
    h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        padding-bottom: 5px;
        color: @color_green;
    }

    button {
        position: absolute;
        top: 6px;
        right: 0;
        color: @color_grey;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        text-shadow: 0 1px 0 @color_white;
        background: transparent;
        &:hover {
            box-shadow: none;
        }
    }

    a {
        color: @color_green;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    &.error {
        border-color: @color_red;
        background: transparent;
        a { 
            color: @color_red;
        }
        h4 {
            color: @color_red;
        }
    }

    &.info {
        border-color: @color_orange;
        background: transparent;
        a {
            color: @color_orange;
        }
        h4 {
            color: @color_orange;
        }
    }

    &.log {
        border-color: @color_red;
        background: transparent;
        h4 {
            color: @color_red;
        }

        textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 200px;
            min-height: 200px;
            max-height: 200px;
            border: 1px solid @color_border_grey;
            font-family: @font-family-monospace;
            font-size: 11px;
        }
    }
}
